* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c4244;
  color: #3c4244;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #4682b4;
  padding: 5px;
}

.search-input {
  background-color: #4682b4;
  color: aliceblue;
  padding: 15px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  border: 0;
  font-size: 20px;
}
.search-input:hover {
  background-color: #183b58;
  cursor: text;
}
.search-input:focus {
  outline: none;
  background-color: #183b58;
}

::placeholder {
  color: aliceblue;
}

.search-button {
  font-family: Roboto, sans-serif;
  background-color: #4682b4;
  color: aliceblue;
  border: 0;
  padding: 10px;
  font-size: 20px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.search-button:hover {
  background-color: #183b58;
  cursor: pointer;
}

.load-more {
  font-family: Roboto, sans-serif;
  background-color: #4682b4;
  color: aliceblue;
  border: 0;
  padding: 10px;
  font-size: 20px;
}

.gallery {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.photo-card {
  background-color: #93989e;
  padding: 10px;
  height: 220px;
  border-radius: 0.5rem;
}

.info-item {
  font-size: 15px;
}

.visible {
  display: none;
}
